body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0EBFF; /* Fondo azul muy claro */
    color: #333;
}

/* ---- HEADER ---- */
header {
    background-color: #B3CEFF;  /* Azul pastel */
    color: #000;
    padding: 25px 0;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}
