  body {    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #586885;
    color: #333;
}  
header {
    background-color: #B3CEFF;  
    color: #000;
    padding: 25px 0;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
header h1 {
    margin: 0;
    font-size: 3rem;
}
section {
    padding: 40px 20px;
    text-align: center;
    background-color: #B3CEFF;
}section h2 {
    color: #2a4d8f; 
    margin-bottom: 10px;
}
h2 {
    text-align: left;
    margin-left: 20px;

}
h3  {
    text-align: left;
    

}
li {
    list-style-type: none;
    text-align: left;
}
    section p {
    font-size: 1.1rem;
}

footer {
    background-color: #B3CEFF;
    color: #000;
    text-align: center;
    padding: 15px ;
    margin-top: 40px;
}
footer a {
    color: #2a4d8f;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
</style>
    </footer>
</body>
</html>

